!! Set a default font and font size as below:
*.font: MesloLGS Nerd Font:size=12


/* ! Dracula Xresources palette */
/* *.foreground: #F8F8F2 */
/* *.background: #282A36 */
/* *.color0:     #000000 
 *.color8:     #4D4D4D 
 *.color1:     #FF5555 
 *.color9:     #FF6E67 
 *.color2:     #50FA7B 
 *.color10:    #5AF78E 
 *.color3:     #F1FA8C 
 *.color11:    #F4F99D 
 *.color4:     #BD93F9 
 *.color12:    #CAA9FA 
 *.color5:     #FF79C6 
 *.color13:    #FF92D0 
 *.color6:     #8BE9FD 
 *.color14:    #9AEDFE 
 *.color7:     #BFBFBF 
 *.color15:    #E6E6E6 */ 


/* My own custom palette */

! black
*.color0:       #282C34
*.color8:       #282C34

! red
*.color1:       #FF6059
*.color9:       #FF6059

! green
*.color2:       #5FFF87
*.color10:      #5FFF87

! yellow
*.color3:       #fba922
*.color11:      #fba922

! blue
*.color4:       #3971ed
*.color12:      #3971ed

! magenta
*.color5:       #AF87FF
*.color13:      #AF87FF

! cyan
*.color6:       #3971ed
*.color14:      #3971ed

! white
*.color7:       #FFFFFF
*.color15:      #FFFFFF

/* DWM Colors */

dwm.normbgcolor: #282828
dwm.normbordercolor: #282828
dwm.normfgcolor: #bbbbbb
dwm.selfgcolor: #eeeeee
dwm.selbordercolor: #ebdbb2
dwm.selbgcolor: #222222
