!! Set a default font and font size as below:
*.font: MesloLGS Nerd Font:size=12

/* My own custom palette */

! black
*.color0:       #282C34
*.color8:       #282C34

! red
*.color1:       #FF6059
*.color9:       #FF6059

! green
*.color2:       #5FFF87
*.color10:      #5FFF87

! yellow
*.color3:       #fba922
*.color11:      #fba922

! blue
*.color4:       #3971ed
*.color12:      #3971ed

! magenta
*.color5:       #AF87FF
*.color13:      #AF87FF

! cyan
*.color6:       #3971ed
*.color14:      #3971ed

! white
*.color7:       #FFFFFF
*.color15:      #FFFFFF

/* DWM Colors (requires changing appropriate variables in dwm.c) */

dwm.normbgcolor: #282828
dwm.normbordercolor: #282828
dwm.normfgcolor: #bbbbbb
dwm.selfgcolor: #eeeeee
dwm.selbordercolor: #FF6059
dwm.selbgcolor: #222222
