!! Set a default font and font size as below:
*.font: Iosevka:size=13:antialias=true

/* My own custom palette */


! black
*.color0:       #22272d
*.color8:       #6A777E

! red
*.color1:       #ef4b4b
*.color9:       #ef4b4b

! green
*.color2:       #5FD75F
*.color10:      #5FD75F

! yellow
*.color3:       #ECC46F
*.color11:      #ECC46F

! blue
*.color4:       #00afff
*.color12:      #00afff

! magenta
*.color5:       #E67E22
*.color13:      #E67E22

! cyan
*.color6:       #0087af
*.color14:      #0087af

! white
*.color7:       #6A777E
*.color15:      #f2f2f4

/* DWM Colors (requires changing appropriate variables in dwm.c) */

dwm.normbgcolor: #282828
dwm.normbordercolor: #282828
dwm.normfgcolor: #bbbbbb
dwm.selfgcolor: #eeeeee
dwm.selbordercolor: #FF6059
dwm.selbgcolor: #222222

